.head {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #2e321f;
  color: #d3d0c5;
  font-size: 50px;
  font-weight: bold;
}

.logo {
  border-style: none;
  padding: 0px;
}
