section {
  width: 100%;
  background-color: #d3d0c5;
  padding-top: 10px;
  padding-bottom: 10px;
}

.categorySelect {
  margin-top: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.sciSelect {
  margin-top: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}
