.resultsWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #d3d0c5;
  padding-top: 25px;
  padding-bottom: 20%;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultCount {
  font-style: italic;
}

.newSearch {
  height: 40px;
  width: 150px;
  margin-top: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 7px;
  padding-right: 7px;
  background-color: #d3d0c5;
  font-size: 17px;
  font-weight: bolder;
  text-decoration: underline;
  border: 4px solid darkgray;
  border-radius: 5px;
  align-self: center;
}

.newSearch:hover {
  box-shadow: 5px 5px #011638;
  cursor: pointer;
}
